*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
}

.wrapper{
    min-height: 50vh;
    width:30%;
    position: relative;
    border: solid green 1px;
    box-shadow: 5px 4px 10px black ;

}

.wrapper section{

    min-height:30vh;
    border:solid rgb(252, 252, 252) 1px ;
    width: 100%;
}

.wrapper #top{

    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-style: none;
}
.wrapper #bottom{

    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 60px;
}

.wrapper ion-icon{

    border: solid;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 10px 1px 10px black ;
    animation: rotate 2s 1;
   
}

