



body{
   height: 100vh;
   min-width:100%;
   margin: 9;
   padding: 0;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   align-content: center;
   justify-content: center;
   overflow: hidden;
  
}
#background-video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} 


.logo{

    position: absolute;
    top: 15%;
    left: 50%;
    height: auto;
    transform: translate(-50%,-50%);

}

@media screen and (min-width:480px){
    .logo{
        
        width: 100%;
        height: auto;
        
    }
}

@media screen and (min-width:720px){
    .logo{
        
        width: 60%;
        top: 15%;
        left: 50%;
        height: auto;
        transform: translate(-50%,-50%);
       
    }
}
@media screen and (min-width:1080px){
    .logo{
        
        width: 40%;
        left: 50%;
        height: auto;
        transform: translate(-50%,-50%);
       
    }
}

nav{

    width:80%;
    height: 50px;
    border-style: solid;
    box-shadow: 10px 10px 10px black;
    backdrop-filter: blur(10px);
    background: rgba(173, 173, 173, 0.082);
    border-width: 1px;
    position: fixed;
    bottom: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    border-color: white;
}

@media screen and (min-width:400px){

    nav{

        width: 40%;
    }

}
nav a {

   
    height: 80%;
    width: 50px;
    color: white;
    text-decoration: none;
   
}
.fa{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 50px;
}










